19 - Webcam Fun/node_modules/
19 - Webcam Fun/package-lock.json
20 - Speech Detection/node_modules/
20 - Speech Detection/package-lock.json
21 - Geolocation/node_modules/
21 - Geolocation/package-lock.json
